@{
    ViewData["Title"] = "Home Page";
}

<div class="card" style="max-width: 200px; max-height:300px">
    <img src="https://www.internubel.be/productfotos/7678Materne%20mousseline%20pomme%20ss%20sucre.jpg" class="card-img-top" alt="Product Image">
    <div class="card-body">
        <h5 class="card-title">Mousseline de Pommes</h5>
        <p class="card-text">Materne - Mousseline de pommes sans surcre ajouté</p>
        <div class="d-flex justify-content-between align-items-center">
            <span class="h5 mb-0">$99.99</span>
           @*  <div>
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-half text-warning"></i>
                <small class="text-muted">(4.5)</small>
            </div> *@
        </div>
    </div>
    <div class="card-footer d-flex justify-content-between bg-light">
        <button class="btn btn-primary btn-sm">View the product</button>
        <button class="btn btn-outline-secondary btn-sm"><i class="bi bi-heart"></i></button>
    </div>
</div>
